.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;

  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.filter__button {
  color: $title-text-color;
  background-color: $secondary--bg-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  transition: color $anim, background-color $anim, box-shadow $anim;

  &:focus,
  &:hover {
    color: $primary-bg-color;
    background-color: $primary-accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.projects__item {
  width: 100%;
  border: 1px solid #eeeeee;
  transition: box-shadow $anim;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 60px) / 3);
  }

  &:hover {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  }
}

.card {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 294px;
  object-fit: cover;
}

.card__meta {
  padding: 20px 24px;
}

.card__title {
  margin-top: 0px;
  margin-bottom: 4px;

  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__text {
  margin: 0px;

  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.88;
}

.card__overlay {
  position: absolute;
  padding: 24px 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;

  transform: translateY(101%);
  transition: transform $anim;

  .projects__item:hover & {
    transform: translateX(0%);
    opacity: 1;
  }
}

.card__discription {
  display: block;
  margin: 0;

  font-size: 18px;
  line-height: 1.56;
  color: $primary-bg-color;
}

// /* Examples */

// .examples {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 30px;

//   @media screen and (max-width: 767px) {
//     $items: 1;
//   }

//   @media screen and (min-width: 768px) and (max-width: 1199px) {
//     $items: 2;
//   }
//   @media screen and (min-width: 1200px) {
//     $items: 3;
//   }
// }

// .examples__item {
//   flex-basis: calc((100% - $items * 30px) / $items);
//   display: flex;
//   flex-direction: column;
// }

// .examples__link {
//   display: block;
//   transition: box-shadow $anim;

//   &:hover,
//   &:focus {
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//       1px 4px 6px rgba(0, 0, 0, 0.16);
//   }
// }

// .examples__box {
//   position: relative;
//   overflow: hidden;
// }

// .examples__img {
//   max-width: 100%;
//   height: auto;
// }

// /* Overlay */

// .overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   transform: translateY(100%);
//   transition: transform $anim;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   background-color: rgba(33, 150, 243, 0.9);
//   color: $primary-bg-color;

//   font-size: 18px;
//   line-height: 1.58;
//   letter-spacing: 0.03em;

//   margin: 0;

//   transform: translateY(100%);
//   transition: transform var(--anim);

//   @media screen and (min-width: 768px) {
//     padding-top: 49px;
//   }

//   @media screen and (min-width: 768px) {
//     padding: 63px 24px;
//   }

//   @media screen and (max-width: 480px) {
//     font-size: 14px;
//     padding-top: 49px;
//   }
//   .examples__item:hover & {
//     transform: translateY(0);
//   }
// }

// .examples__text {
//   border: 1px solid #eeeeee;
//   padding: 20px 24px;

//   flex-grow: 1;
// }

// .examples__title {
//   color: $title-text-color;

//   font-size: 18px;
//   line-height: 2;
//   letter-spacing: 0.06em;

//   margin-bottom: 4px;
// }

// .examples__article {
//   color: $primary-text-color;

//   font-size: 16px;
//   line-height: 1.88;
// }
